$primaryColor: #FF9000;

body {
	margin:0;
	padding:0;
}
header {
	text-align:left;
	background-color:$primaryColor;
	color:white;
	height:60px;
	h1{
		font-family: Times New Roman, serif;
		font-style: italic;
		font-size: 40px;
		padding-top:10px;
		margin-top: 0px;;
		margin-left: 30px;
	}
}
.descrip{
	h2 {
		color:$primaryColor;
		font-family: Times New Roman, serif;
		font-style:italic;
		font-size:28px;
		margin-left:460px;
		//margin-top:-60px;
	}
}
.navBtn {
	margin-left:300px;
	margin-top:-45px;
	ul{
		list-style:none;
		li{
			display: inline-block;
			margin-left: 5px;
		}
	}
	a{
	background-color:white;
	color:$primaryColor;
	border:none;
	//margin:10px;
	display:inline-block;
	}
	.search, {
	//display:block;
	margin-left:30px;
	color:$primaryColor;
	}
	.submit {
		color:$primaryColor;
		background-color:white;
		border-radius:2px;
		border:none;
	}
}



.Item {
	display:block;
	margin-left:37%;
	img {
		height:300px;
	}
}

main {
	margin-bottom: 150px;
}

footer {
	position: fixed;
	width:100%;
	bottom:0;
	background-color:$primaryColor;
	color:white;
	text-align:center;
	h3 {
		font-size: 20px;
	}
}

.content {
	margin-left:200px;
	h1 {
		font-style: italic;
	}
	ul {
		
		li{
			display: inline-block;
			list-style-type: none;
			margin:10px;
			background-color:$primaryColor;
			border-radius:10px;
			padding:10px;
			a:hover{
				text-decoration: none;
			}
			h2{
				color: white;
			}
		}
	}
}

.dogList {
	margin-left:200px;
	h1 {
		font-style: italic;
	}
	ul {

		li{
			display: inline-block;
			list-style-type: none;
			margin:10px;
			background-color:$primaryColor;
			border-radius:10px;
			padding:10px;
			a:hover{
				text-decoration: none;
			}
			h2{
				color: white;
			}
		}
	}
}

.dogDetail {
	margin-left:200px;
	display:inline-block;

	img {
		height:200px;
	}
	h1 {
		font-style: italic;
	}
	ul {
		li{
			display:block;
			list-style-type: none;
			margin:10px;
			margin-left: 0px;
			background-color:$primaryColor;
			border-radius:10px;
			padding:10px;
			a:hover{
				text-decoration: none;
			}
			h2, h3, p{
				color: white;
			}
		}
	}
}